@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
     width: 500px;
 padding: 25px;
border: 25px ;
 margin: 25px; 
    
}

#subtitle {
    background: black;
    color: white;
  
   width: 500px;
 border: 5px ;
 padding: 15px;
 margin: 50px;
    
}

.topic {
    background: lightgray;
    width: 30px ;
 padding: 10px  ;
 border: 10px solid white ;
 margin: 10px; ; 
    display: inline;
}

